#main{
  display:flex;
  gap: 50px;
  justify-content: center;
}

h2{
  margin-bottom: 5px;
  /* word-wrap: break-word; */
}


.justify-between{
  justify-content: space-between;
}
.justify-center{
  justify-content: center;
}

.justify-right{
  justify-content: flex-end;
}

.gap-20{
  gap: 20px;
}
.align-center{
  align-items: center;
}

i#add{
  font-size: 30px;
  color: red;
  cursor: pointer;
}

div.foodContainer, div.favContainer{
  /* flex:1; */
  display:block;
  width: fit-content;
}

.row{
  display: flex;
  flex-direction: row;
}

.input_field{
  display:flex;
  justify-content:center;
  margin: 25px 0;
}

div#container, div#favorites{
  margin-top: 20px;
}
/* Recipe Card */
.recipe{
  width: fit-content;
  display: flex;
  flex:1;
  flex-direction: column;
  overflow: auto;
}
/* .recipe h2{
  width: fit-content;
} */

.recipe img{
  width: 400px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.recipe .recipe-card {
  position: relative;
  width: 100%;
}

.recipe .recipe-card img {
  width: 400px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s all;
}

.recipe .recipe-card:hover img {
  filter: brightness(50%);
}

.recipe .recipe-card .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  opacity: 0;
  transition: 0.5s all;
}

.recipe .recipe-card:hover .title {
  opacity: 1;
}



.recipe .instructionsContainer p{
  max-width: 50%;
  overflow-wrap: break-word;
}

.recipe .ingredientsContainer p, .ingredientsContainer{
  width: fit-content
}


.recipe.row > i{
  font-size: 30px;
  cursor: pointer;
  color: red;
}

.recipe .title{
  max-width: 375px
}
.location{
  font-size: 14px;
  color: white;
  gap: 10px;
}



/* Modal Styling */

.modal.show{
  visibility: visible;
}

.modal{
  visibility: hidden;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  right:0;
  bottom: 0;
  height: 100%;
  width: 100%;
  /* background-color: rgb(0,0,0); */
  background-color: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  /* width: 65%; */
  align-items: center;
}

.modal-display{
  background-color: white;
  margin: 2% auto;
  padding: 1rem;
  border: 1px solid #888;
  max-width: 80%;
  max-height: 80vh;
  overflow: hidden;
  border-radius: 10px;
  /* position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
  z-index: 2;
}

.modal-header i{
  font-size: 20px;
  cursor: pointer;
}

.modal-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.modal-body{
  height: 500px;
  display: flex;
  gap: 50px;
  overflow: auto;
}

.modal-body img{
  width: 300px;
  height: 300px;
  border: 1px solid black;
  border-radius: 10px;
}

.directionsBlock{
  display: flex;
  gap: 30px;
  overflow: auto;
}



